
<div class="container">
  <p>
  <strong>User:</strong>
  <%= @run.user %>
</p>

<p>
  <strong>Run Type:</strong>
  <%= @run.Run_Type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @run.Location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @run.Start_Time %>
</p>

<p>
  <strong>Run Date:</strong>
  <%= @run.Run_Date %>
</p>
<p>
  <strong>Pace:</strong>
  <%= @run.Pace %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @run.Miles %>
</p>

<% if @run.user == current_user %>
<%= link_to 'Edit', edit_run_path(@run) %> |
<% end %>
<%= link_to 'Back', runs_path %>

</div>